.idea
.DS_Store
composer.phar
app/config/parameters.yml
app/config/parameters.yml.dist
app/bootstrap.php.cache
app/Resources/js/Templates.js
app/cache/*
app/logs/*
build/
vendor
web/bundles/*
web/css
web/img
web/js
bin/doctrine
bin/doctrine.php
web/uploads
/cache-clear.bat
composer.json
composer.lock
app/SymfonyRequirements.php
app/bootstrap.php.cache
